
include radical/*.py
include radical/utils/*.py
include radical/utils/config/*.py
include radical/utils/logger/*.py
include radical/utils/contrib/*.py

include radical/utils/VERSION
include MANIFEST.in README.md 

